<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav layout:fragment="header-content" class="navbar navbar-expand-lg bg-body-tertiary">
  		<div class="container">
    		<div class="navbar-header">
    			<h3>
    				<a class="navber-brand text-deco" href="#">BalaBala株式会社</a>
    			</h3>
    		</div>
     		<form action="" method="post">
    			<button class="btn btn-link pull-right navbar-brand" type="submit">ログアウト</button>
    		</form>
  		</div>
	</nav>
</body>
</html>