<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav layout:fragment="header-content" class="navbar navbar-expand-lg">
  		<div class="header-nav">
    		<div class="navbar-brand">
    			<h3>
    				<a class="navbar-name" href="#">SOURA株式会社</a>
    			</h3>
    		</div>
     		<form th:action="@{/logout}" method="post">
    			<button class="btn btn-link nav-btn" type="submit">ログアウト</button>
    		</form>
  		</div>
	</nav>
</body>
</html>