<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav layout:fragment="header-content" class="nav-frame">
  		<div class="nav-header">
  			<div class="nav-brand">
  				<img alt="SORAロゴ" th:src="@{/image/logo/sky.png}">
  			</div>
    		<div class="nav-name">
    			<h3>SOURA株式会社</h3>
    		</div>
     		<form th:action="@{/logout}" method="post">
    			<button class="btn btn-link nav-btn" type="submit">ログアウト</button>
    		</form>
  		</div>
	</nav>
</body>
</html>