<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<div th:fragment="home-content">
		<div class="home-frame">
			<div class="home-header">
				<h2>ホーム</h2>
			</div>
			<div class="summary-grid">
				<div class="summary-card attendance-card">
					<p>本日の出勤人数</p>
					<div class="summary-count">
						<strong th:text="${totalCount}"></strong>
						<span>人</span>
					</div>
				</div>
				<div class="summary-card checkin-card">
					<p>出勤中</p>
					<div class="summary-count">
						<strong th:text="${checkInCount}"></strong>
						<span>人</span>
					</div>
				</div>
				<div class="summary-card break-card">
					<p>休憩中</p>
					<div class="summary-count">
						<strong th:text="${breakCount}"></strong>
						<span>人</span>
					</div>
				</div>
				<div class="summary-card checkout-card">
					<p>退勤済み</p>
					<div class="summary-count">
						<strong th:text="${checkedOutCount}"></strong>
						<span>人</span>
					</div>
				</div>
			</div>
			<div class="table-title">
				<h4>本日の出勤状況</h4>
			</div>
			<table class="table-list">
				<thead>
					<tr>
						<th>No.</th>
						<th>社員番号</th>
						<th>社員名</th>
						<th>状態</th>
						<th>実働時間</th>
					</tr>
				</thead>
				<tbody>
            		<tr th:each="attendance , stat : ${homeList}">
            			<td th:text="${stat.count}"></td>
                		<td th:text="${attendance.workerNo}"></td>
                		<td th:text="${attendance.workerName}"></td>
                		<td>
                			<!-- 出勤中 -->
                			<span class="status-badge status-working"
                				  th:if="${attendance.checkOut == null
                				  		   and (attendance.breakStart == null
                				  		   or attendance.breakEnd != null)}">
                				出勤中
                			</span>
                			<!-- 休憩中 -->
                			<span class="status-badge status-break"
                				  th:if="${attendance.checkOut == null
                				  		   and (attendance.breakStart != null
                				  		   and attendance.breakEnd == null)}">
                				休憩中
                			</span>
                			<!-- 退勤済み -->
                			<span class="status-badge status-left"
                				  th:if="${attendance.checkOut != null}">
                				退勤済み
                			</span>
                		</td>
                		<td>
                			<span th:text="${attendance.workingTime}">
                			</span>
                		</td>
            		</tr>
        		</tbody>
			</table>
		</div>
	</div>
</body>
</html>
