<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Worker</title>
</head>
<body>
	<div th:fragment="worker-content">
		<div class="main-frame">
			<h3>社員管理</h3>
			<a href="#"><span><i class="fa-solid fa-plus"></i></span>新規社員登録</a>
			<table class="home-table">
				<thead>
					<tr>
						<th>No.</th>
						<th>社員番号</th>
						<th>社員名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
            		<tr>
                		<td>1</td>
                		<td>W001</td>
                		<td>山田 太郎</td>
                		<td>
                    		<button class="btn-detail">詳細</button>
                    		<button class="btn-detail ms-2">編集</button>
                		</td>
            		</tr>
            		<tr>
                		<td>2</td>
                		<td>W002</td>
                		<td>佐藤 花子</td>
                		<td>
                    		<button class="btn-detail">詳細</button>
                    		<button class="btn-detail ms-2">編集</button>
                		</td>
            		</tr>
        		</tbody>
			</table>
		</div>
	</div>
</body>
</html>