<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<div th:fragment="attendance-content">
		<div class="main-frame">
			<div class="admin-page-header">
				<div>
					<h3>勤怠管理</h3>
				</div>
			</div>
			<form action="">
				<div class="admin-toolbar">
					<label>日付</label>
					<input type="date">
					<button type="button">表示</button>
				</div>
			</form>
			<table class="home-table">
				<thead>
					<tr>
						<th>社員番号</th>
						<th>社員名</th>
						<th>出勤</th>
						<th>休憩時間</th>
						<th>退勤</th>
					</tr>
				</thead>
				<tbody>
            		<tr>
                		<td>W001</td>
                		<td>山田 太郎</td>
                		<td>09:00</td>
                		<td>01:00</td>
                		<td><span class="status-badge status-left">18:00</span></td>
            		</tr>
            		<tr>
                		<td>W002</td>
                		<td>佐藤 花子</td>
                		<td>08:50</td>
                		<td>01:00</td>
                		<td><span class="status-badge status-working">未退勤</span></td>
            		</tr>
        		</tbody>
			</table>
		</div>
	</div>
</body>
</html>
