<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Worker</title>
</head>
<body>
	<div th:fragment="worker-content">
		<div class="worker-frame">
			<div class="worker-header">
				<h2>社員管理</h2>
			</div>
			<div class="worker-toolbar">
				<div class="toolbar">
					<form action="">
						<input type="text" placeholder="社員番号・社員名で検索">
						<button type="button">検索</button>
					</form>
				</div>
				<a class="admin-primary-link" href="#"><span><i class="fa-solid fa-plus fs-3"></i></span>新規社員登録</a>
			</div>
			<table class="table-list">
				<thead>
					<tr>
						<th>No.</th>
						<th>社員番号</th>
						<th>社員名</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
            		<tr th:each="worker ,stat : ${workerList}">
                		<td th:text="${stat.count}"></td>
                		<td th:text="${worker.workerNo}"></td>
                		<td th:text="${worker.name}"></td>
                		<td>
                    		<a href="#" class="btn-detail">詳細</a>
                		</td>
                		<td>
                			<a href="#" class="btn-detail btn-edit ms-2">編集</a>
                		</td>
            		</tr>
        		</tbody>
			</table>
		</div>
	</div>
</body>
</html>
