<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<div th:fragment="home-content">
		<div class="main-frame">
			<div class="admin-page-header">
				<h3>ホーム</h3>
			</div>
			<div class="summary-grid">
				<div class="summary-card">
					<p>本日の出勤人数</p>
					<strong th:text="${totalCount}"></strong>
					<span>人</span>
				</div>
				<div class="summary-card summary-break">
					<p>休憩中</p>
					<strong th:text="${breakCount}"></strong>
					<span>人</span>
				</div>
				<div class="summary-card summary-left">
					<p>退勤済み</p>
					<strong th:text="${checkedOutCount}"></strong>
					<span>人</span>
				</div>
			</div>
			<div class="table-title">
				<h5>本日の出勤状況</h5>
			</div>
			<table class="home-table">
				<thead>
					<tr>
						<th>社員番号</th>
						<th>社員名</th>
						<th>状態</th>
						<th>出勤時間</th>
					</tr>
				</thead>
				<tbody>
            		<tr th:each="attendance : ${attendanceList}">
                		<td th:text="${attendance.workerNo}"></td>
                		<td th:text="${attendance.workerName}"></td>
                		<td>
                			<!-- 出勤中 -->
                			<span class="status-badge status-working"
                				  th:if="${attendance.checkOut == null
                				  		   and (attendance.breakStart == null
                				  		   or attendance.breakEnd != null)}">
                				出勤中
                			</span>
                			<!-- 休憩中 -->
                			<span class="status-badge status-break"
                				  th:if="${attendance.checkOut == null
                				  		   and (attendance.breakStart != null
                				  		   and attendance.breakEnd == null)}">
                				休憩中
                			</span>
                			<!-- 退勤済み -->
                			<span class="status-badge status-left"
                				  th:if="${attendance.checkOut != null}">
                				退勤済み
                			</span>
                		</td>
                		<td>
                			<span th:if="${attendance.checkIn != null}"
                				  th:text="${#temporals.format(attendance.checkIn,'HH:mm')}">
                			</span>
                			<span th:if="${attendance.checkOut == null}">
                				~
                			</span>
                		</td>
            		</tr>
        		</tbody>
			</table>
		</div>
	</div>
</body>
</html>
