<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Edit</title>
</head>
<body>
	<div th:fragment="edit-content">
		<div class="worker-frame">
			<div class="signup-wrapper">
				<div class="card bg-light rounded-4">
					<div class="card-body">
						<form th:action="@{/admin/worker/update}" 
							  method="post"
							  th:object="${worker}">
							<h2>社員情報編集</h2>
							<div class="input-group">
								<input type="hidden" th:field="*{id}">
								<div class="input-label">
									<label>ログインID</label>
								</div>
								<div class="input-control">
									<h5 th:text="*{workerNo}"></h5>
								</div>
								<div class="input-label">
									<label>社員名</label>
								</div>
								<div class="input-control error-msg">
									<input type="text" th:field="*{name}">
									<p th:errors="*{name}"></p>
								</div>
								<div class="input-label mt-1">
									<label>メールアドレス</label>
								</div>
								<div class="input-control error-msg">
									<input type="email" th:field="*{email}">
									<p th:errors="*{email}"></p>
								</div>
								<div class="wrapper-btn mt-1">
									<input type="submit" value="更新" class="mb-1"><br>
								</div>
								<a th:href="@{/admin/worker}">社員管理ページへ</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>