<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Worker</title>
</head>
<body>
	<div th:fragment="worker-content">
		<div class="main-frame">
			<div class="admin-page-header">
				<div>
					<h3>社員管理</h3>
				</div>
				<a class="admin-primary-link" href="#"><span><i class="fa-solid fa-plus"></i></span>新規社員登録</a>
			</div>
			<div class="admin-toolbar">
				<input type="text" placeholder="社員番号・社員名で検索">
				<button type="button">検索</button>
			</div>
			<table class="home-table">
				<thead>
					<tr>
						<th>No.</th>
						<th>社員番号</th>
						<th>社員名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
            		<tr th:each="worker : ${workerList}">
                		<td th:text="${worker.id}"></td>
                		<td th:text="${worker.workerNo}"></td>
                		<td th:text="${worker.name}"></td>
                		<td>
                    		<button class="btn-detail">詳細</button>
                    		<button class="btn-detail btn-edit ms-2">編集</button>
                		</td>
            		</tr>
        		</tbody>
			</table>
		</div>
	</div>
</body>
</html>
